$section-width: 21%;

$card-background:rgba(0,0,0,0.05);
$card-height:80px;

@mixin flexDisplay($direction : row, $jc:center, $ai:center){
   display:flex;
   justify-content: $jc;
   align-items: $ai;
   flex-direction: $direction;
}

.card-content {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 33%;
  padding: 4px 0px;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;

  &:first-child {
    padding-top: 0px;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  &-name-section {
    width: $section-width;
    display: flex;
    flex-direction: column;
    flex-basis: $section-width;
    padding-right: 10px;
    background-color: #e6e6e6;

    &-price {
      display: flex;
      align-items: center;

      .stock-icon {
        display: flex;
        flex-direction: column;
        flex-basis: 5%;
      }

      .stock-price {
        display: flex;
        flex-direction: column;

        .name-and-price {
          display: flex;
          flex-direction: column;
          padding: 0px 7px;
          width: 50%;
  
          .name {
            text-align: center;
            font-size: 12px;
          }
  
          .price {
            font-size: 20px;
          }
        }
      }
      
    }

    .stock-name {
      display: flex;
      flex-direction: column;
      width: 55%;

      &-1 {
        color: #a8bd84;
        font-size: 15px;
        font-weight: bold;
      }

      &-2 {
        font-size: 8px;
      }

      &-3 {
        font-weight: bold;
        font-size: 15px;
      }

      &-4 {
        font-size: 10px;
      }
    }
  }

  &-quantity {
    width: $section-width;
    background-color: #e6e6e6;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column;
    flex-basis: $section-width;

    .quantity {
      display: flex;
      padding: 2px;

      &-icon {
        align-self: center;
        padding-top: 2px;
      }

      &-title {
        width: 45%;
        padding-left: 6px;
        font-size: 14px;
      }

      &-value {
        width: 40%;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

  &-market-value {
    display: flex;
    width: $section-width;
    background-color: #e6e6e6;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column;
    flex-basis: $section-width;

    .market-value {
      display: flex;
      padding: 2px;

      &-title {
        width: 60%;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
      }

      &-val {
        width: 40%;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
      }
    }

    .portfolio-value {
      display: flex;
      padding: 2px;

      &-title {
        width: 60%;
        font-size: 12px;
        padding-left: 5px;
      }

      &-val {
        width: 40%;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
      }
    }
  }

  &-unrealized {
    display: flex;
    width: $section-width;
    background-color: #e6e6e6;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column;

    .unrealized {
      display: flex;
      padding: 2px;

      &-title {
        width: 60%;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
      }

      &-value {
        width: 40%;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
      }
    }

    .return {
      display: flex;
      padding: 2px;

      &-title {
        width: 60%;
        font-size: 12px;
        padding-left: 5px;
      }

      &-value {
        width: 40%;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
      }
    }
  }

  &-button {
    display: flex;
    width: 6%;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column;
    align-items: center;
    flex-basis: 6%;
  }
}

.progress{
  @include flexDisplay;
  margin:8px;
  > div{
      width: 50%;
      &:nth-child(1){
          transform: rotate(180deg);
      }
  }
} 

@media screen and (max-width: 640px) {
  .card-content {
    height: 66%;
    flex-wrap: wrap;

    &-name-section {
       flex: 1 0 100%;
       margin-bottom: 5px;
    } 
    &-quantity {
      flex: 1 0 100%;
      margin-bottom: 5px;
    }
    &-market-value {
      flex: 1 0 100%;
      margin-bottom: 5px;
    }
    &-unrealized {
      flex: 1 0 60%; 
    }  
    &-button {
      flex: 1 0 4%;  
    }
  }

  .stock-name {
    padding-left: 30px;
  }
}